<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>

<body>
    <h3>Login</h3>

    <div class="form-group">
        <table class="table table-bordered table-striped">
            <tr>
                <td>UserName</td>
                <td><input type="text" class="form-control" name="UserName" [(ngModel)]="user.UserName"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" class="form-control" name="password" [(ngModel)]="user.password"> </td>
            </tr>
            <tr>
                <td><button type="submit" value="signIn" class="btn btn-success" (click)="login()">Sign in</button></td>
                <td><button type="submit" value="cancel" class="btn btn-danger" (click)="clear()">Cancel</button></td>
            </tr>
        </table>
    </div>
    <router-outlet></router-outlet>
</body>

</html>