<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HomePage</title>
    <script src="jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#btnget").on('click', function () {
                alert("Button clicked");
            });
        });
    </script>
</head>

<body>
    <h1>View to access REST APIs</h1>
    <input type="button" value="Get Data" id="btnget" />
</body>

</html>